<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Digital Somm Brain <kbd>BETA</kbd></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 well well-lg">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repellat ipsa, magnam, impedit quidem quas maxime illo deleniti deserunt earum debitis placeat commodi expedita voluptatibus, doloribus quo reiciendis voluptas dignissimos!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sunt, nulla voluptatem dolor quasi laboriosam, nemo ad, libero quibusdam deleniti odit dicta rem ex qui! Libero fugiat, ad reprehenderit placeat!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eaque, quo blanditiis! Cum perferendis aliquam, ut architecto sit doloribus placeat quod, veniam explicabo, sapiente tenetur nam eligendi quis sunt amet.
		</div>
		<div class="col-sm-6 text-center">
			<ul class="list-unstyled">
				<li>wine 1</li>
				<li>wine 2</li>
				<li>wine 3</li>
				<li>wine 4</li>
				<li>wine 5</li>
				<li>wine 6</li>				
			</ul>
		</div>
	</div>
</div>