<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Digital Somm Brain <kbd>BETA</kbd></h1>
		</div>
	</div>
	<div class="row">
		<div id="change" class="col-sm-6 well well-lg">
			<h3>AJAX request structure</h3>
<!-- 			<p>Sweetness</p>
			<p>Phenolic / Bitter (White)</p> -->
			<p>Tannin (Red)</p>
			<input id="tannin" type="text"
              	data-provide="slider"
            	data-slider-ticks="[1, 2, 3, 4, 5]"
              	data-slider-ticks-labels='["low", "med-", "med", "med+", "high"]'
              	data-slider-min="1"
              	data-slider-max="5"
              	data-slider-step="1"
              	data-slider-tooltip="hide" />

			<p>Acid</p>
			<input id="acid" type="text"
              	data-provide="slider"
            	data-slider-ticks="[1, 2, 3, 4, 5]"
              	data-slider-ticks-labels='["low", "med-", "med", "med+", "high"]'
              	data-slider-min="1"
              	data-slider-max="5"
              	data-slider-step="1"
              	data-slider-tooltip="hide" />

			<p>Alcohol</p>
			<input id="alcohol" type="text"
              	data-provide="slider"
            	data-slider-ticks="[1, 2, 3, 4, 5]"
              	data-slider-ticks-labels='["low", "med-", "med", "med+", "high"]'
              	data-slider-min="1"
              	data-slider-max="5"
              	data-slider-step="1"
              	data-slider-tooltip="hide" />

			<p>Body</p>
			<input id="body" type="text"
              	data-provide="slider"
            	data-slider-ticks="[1, 2, 3, 4, 5]"
              	data-slider-ticks-labels='["low", "med-", "med", "med+", "high"]'
              	data-slider-min="1"
              	data-slider-max="5"
              	data-slider-step="1"
              	data-slider-tooltip="hide" />
<!-- 			<p>Texture</p>
			<p>Balance</p>
			<p>Length / Finish</p>
			<p>Complexity</p> -->
		</div>
		<div class="col-sm-6 text-center">
			<ul id="possible" class="list-unstyled">
				<li>Showing diff testable AJAX</li>
				<li>wine 1</li>
				<li>wine 2</li>
				<li>wine 3</li>
				<li>wine 4</li>
				<li>wine 5</li>
				<li>wine 6</li>				
			</ul>
		</div>
	</div>
</div>